<!-- Sub Header -->
<header class="sub-header"></header>

<!-- About Section -->
<section class="about">
  <h2 class="sub-heading">About Us</h2>
  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  <div class="about-row">
    <div>
      <h3>Who We Are?</h3>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis
        voluptate nemo aliquam possimus dicta iure, maxime necessitatibus
        nesciunt beatae molestias eos animi obcaecati error autem blanditiis vel
        consectetur quo ex officia vitae eaque. Quis distinctio odio natus.
        Vitae illum molestiae ipsum quasi, maxime molestias voluptatibus
        consectetur in eum optio quidem. Reprehenderit eligendi a officiis ipsa
        optio tenetur accusantium, esse saepe error itaque ducimus. Sequi beatae
        praesentium voluptate quis ex cupiditate animi, possimus, recusandae
        illum a officiis reiciendis vitae non iusto voluptas dolor maxime quasi
        iure harum laboriosam incidunt facilis. Veritatis dignissimos quam
        voluptates molestias non, eveniet eius commodi modi ipsum!
      </p>
    </div>
    <div>
      <img src="../../assets/images/about.jpg" alt="about" />
    </div>
  </div>
</section>

<!-- Companies Section -->
<section class="companies">
  <h2 class="sub-heading">Companies We Work With</h2>
  <div class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </div>

  <div class="companies-row">
    <div>
      <div class="layer"></div>
      <img src="../../assets/images/amazon.png" alt="amazong" />
      <div class="info">
        <h3>Amazon</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ut
          omnis. Assumenda repellat labore, reiciendis quisquam fugiat
          doloremque cum earum!
        </p>
      </div>
    </div>
    <div>
      <div class="layer"></div>
      <img src="../../assets/images/tesla.png" alt="tesla" />
      <div class="info">
        <h3>Tesla</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ut
          omnis. Assumenda repellat labore, reiciendis quisquam fugiat
          doloremque cum earum!
        </p>
      </div>
    </div>
    <div>
      <div class="layer"></div>
      <img src="../../assets/images/toyota.png" alt="toyota" />
      <div class="info">
        <h3>Toyota</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ut
          omnis. Assumenda repellat labore, reiciendis quisquam fugiat
          doloremque cum earum!
        </p>
      </div>
    </div>
    <div>
      <div class="layer"></div>
      <img src="../../assets/images/youtube.png" alt="youtube" />
      <div class="info">
        <h3>Youtube</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ut
          omnis. Assumenda repellat labore, reiciendis quisquam fugiat
          doloremque cum earum!
        </p>
      </div>
    </div>
    <div>
      <div class="layer"></div>
      <img src="../../assets/images/flipkart.png" alt="flipkart" />
      <div class="info">
        <h3>Flipkart</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ut
          omnis. Assumenda repellat labore, reiciendis quisquam fugiat
          doloremque cum earum!
        </p>
      </div>
    </div>
    <div>
      <div class="layer"></div>
      <img src="../../assets/images/google.png" alt="google" />
      <div class="info">
        <h3>Google</h3>
        <p class="text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, ut
          omnis. Assumenda repellat labore, reiciendis quisquam fugiat
          doloremque cum earum!
        </p>
      </div>
    </div>
  </div>
</section>
