<!-- Header Section  -->
<header class="header">
  <h1 class="title">Welcome To <span>Nature Z</span>!</h1>
  <p class="sub-title">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
    Soluta excepturi dolor molestiae molestias nam vero beatae aspernatur
    doloremque, laborum eligendi magnam.
  </p>
  <a href="#" class="btn">More Info!</a>
</header>

<!-- Offers Section -->
<section class="offers">
  <h2 class="sub-heading">Our Offers</h2>
  <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

  <div class="offers-row">
    <div>
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div>
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div>
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div>
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div>
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div>
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div class="hidden-offer">
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div class="hidden-offer">
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div class="hidden-offer">
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div class="hidden-offer">
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div class="hidden-offer">
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
    <div class="hidden-offer">
      <h3>Lorem Ipsum</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ut
        provident quasi dolores voluptatibus cumque, nisi at rem impedit,
        praesentium veritatis eius perspiciatis enim deleniti!
      </p>
    </div>
  </div>

  <button class="offer-btn btn" (click)="ShowHiddenOffers()">Show More!</button>
</section>

<!-- Banner Section -->
<aside class="banner">
  <h3>Don't Miss Your Chance!</h3>
  <a href="#" class="btn">Join Now!</a>
</aside>

<!-- Places Section -->
<section class="places">
  <h2 class="sub-heading">Our Places</h2>
  <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

  <div class="places-row">
    <div>
      <img src="../../assets/images/newyork.png" alt="newyork" />
      <div class="layer">
        <h3>New York</h3>
      </div>
    </div>
    <div>
      <img src="../../assets/images/rio_de_janeiro.jpg" alt="rio_de_janeiro" />
      <div class="layer">
        <h3>Rio</h3>
      </div>
    </div>
    <div>
      <img src="../../assets/images/tbilisi.jpg" alt="tbilisi" />
      <div class="layer">
        <h3>Tbilisi</h3>
      </div>
    </div>
    <div>
      <img src="../../assets/images/thailand.jpg" alt="thailand" />
      <div class="layer">
        <h3>Thailand</h3>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials Section -->
<section class="testimonials">
  <h2 class="sub-heading">Testimonials</h2>
  <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

  <div class="container animate-container">
    <div>
      <img src="../../assets/images/user_1.jpg" alt="user" />
      <h3>Alisa Samoloa</h3>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non recusandae
        animi autem, quaerat sapiente fugit, nisi, quis perspiciatis laborum
        rerum ipsam porro culpa necessitatibus repellat repellendus magni
        impedit quidem molestiae.
      </p>
    </div>
    <div>
      <img src="../../assets/images/user_2.jpg" alt="user" />
      <h3>James Lopes</h3>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non recusandae
        animi autem, quaerat sapiente fugit, nisi, quis perspiciatis laborum
        rerum ipsam porro culpa necessitatibus repellat repellendus magni
        impedit quidem molestiae.
      </p>
    </div>
    <div>
      <img src="../../assets/images/user_3.jpg" alt="user" />
      <h3>Kate Postritss</h3>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non recusandae
        animi autem, quaerat sapiente fugit, nisi, quis perspiciatis laborum
        rerum ipsam porro culpa necessitatibus repellat repellendus magni
        impedit quidem molestiae.
      </p>
    </div>
  </div>

  <div class="slider">
    <div class="slider-btn active" (click)="FirstSlide()"></div>
    <div class="slider-btn" (click)="SecondSlide()"></div>
    <div class="slider-btn" (click)="ThirdSlide()"></div>
  </div>
</section>

<!-- Contact Us Banner Section -->
<section class="contact-banner">
  <h3>Contact Us Right Away!</h3>
  <a href="contact" class="btn">Contact Now!</a>
</section>
