<!-- Header -->
<header class="sub-header"></header>

<!-- Projects Section -->
<section class="projects">
  <h2 class="sub-heading">Our Projects</h2>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

  <div class="projects-row">
    <div>
      <img src="../../assets/images/helping_people.jpg" alt="helping_people" />
      <div class="layer">
        <h3>Save People</h3>
        <h3>Live <fa-icon [icon]="eyeIcon"></fa-icon></h3>
      </div>
    </div>
    <div>
      <img
        src="../../assets/images/helping_animals.jpg"
        alt="helping_animals"
      />
      <div class="layer">
        <h3>Save Animals</h3>
        <h3>Live <fa-icon [icon]="eyeIcon"></fa-icon></h3>
      </div>
    </div>
    <div>
      <img src="../../assets/images/seed_plants.jpg" alt="seed_plants" />
      <div class="layer">
        <h3>Seed Plants</h3>
        <h3>Live <fa-icon [icon]="eyeIcon"></fa-icon></h3>
      </div>
    </div>
    <div>
      <img
        src="../../assets/images/cleaning_environment.jpg"
        alt="cleaning_environment"
      />
      <div class="layer">
        <h3>Clean Environment</h3>
        <h3>Live <fa-icon [icon]="eyeIcon"></fa-icon></h3>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cleaning_ocean.jpg" alt="cleaning_ocean" />
      <div class="layer">
        <h3>Clean Ocean</h3>
        <h3>Live <fa-icon [icon]="eyeIcon"></fa-icon></h3>
      </div>
    </div>
  </div>
</section>
