<!-- Sub Header -->
<header class="sub-header"></header>

<!-- Contact Section -->
<section class="contact">
  <h2 class="sub-heading">Contact US</h2>
  <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

  <div class="contact-row">
    <div>
      <img src="../../assets/images/location.jpg" alt="location" />
    </div>
    <form class="form">
      <input type="text" name="name" placeholder="Name.." required />
      <input type="email" name="email" placeholder="Email.." required />
      <input type="text" name="subject" placeholder="Subject.." required />
      <textarea
        name="textarea"
        rows="8"
        placeholder="Message.."
        required
      ></textarea>
      <button type="button" class="btn">Submit!</button>
    </form>
  </div>
</section>
